.about__banner {
  background: url(../public/images/aboutbg.png);
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  position: relative;
  height: 340px;
  .banner_heading {
    @include md-screen {
      left: 42%;
    }
    background-color: #fff;
    position: absolute;
    border-radius: 100%;
    bottom: -30px;
    height: 250px;
    width: 250px;
    left: 15%;
    h1 {
      text-align: center;
      padding-top: 60px;
      font-weight: 600;
      font-size: 28px;
    }
  }
}
.shipping__process {
  position: relative;
  &::before {
    @include sm-screen {
      transform: rotate(0deg);
      bottom: 50px;
      width: 89%;
      left: 5%;
    }
    background-color: $darkorgane;
    transform: rotate(90deg);
    position: absolute;
    height: 3px;
    bottom: 52%;
    width: 50%;
    left: -0%;
    content: "";
  }
}
/*cart page styling */
.cart__checkbox {
  input {
    display: none;
    + i {
      border: 1px solid #cccc;
      background-color: #fff;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      display: flex;
      height: 14px;
      width: 14px;
      span {
        display: inline-block;
        border-radius: 50%;
        height: 8px;
        width: 8px;
      }
    }
    &:checked + i {
      border: 1px solid $darkorgane;
      span {
        background-color: $darkorgane;
      }
    }
  }
}
/* Tracking page styling*/
.tracking__process {
  position: relative;
  .tracking__order {
    @include xs-screen {
      bottom: 98px;
      left: -75px;
    }
    @include sm-screen {
      transform: rotate(0deg);
      bottom: 20px;
      width: 91%;
      left: 36px;
    }
    background-color: #dbdbdb;
    transform: rotate(90deg);
    position: absolute;
    left: -50px;
    bottom: 90px;
    height: 2px;
    width: 50%;
  }
}
