.customcontainer {
  @include md-screen {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include lg-screen {
    width: 100%;
  }
  @include xl-screen {
    padding-right: 0;
    padding-left: 0;
    width: 1200px;
  }
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
}
input,
select,
textarea {
  outline: none;
}
.transform__rotate {
  transform: rotate(180deg);
}
/* font size */
.font11 {
  font-size: 11px;
}
.font15 {
  font-size: 15px;
}
.font25 {
  font-size: 25px;
}
.font26 {
  font-size: 26px;
}
.font28 {
  font-size: 28px;
}
.font31 {
  font-size: 31px;
}
.font39 {
  font-size: 39px;
}
.font43 {
  font-size: 43px;
}
.font49 {
  font-size: 49px;
}
// page banners
.bg_banner {
  @include md-screen {
    background-position-x: -220px, 516px;
  }
  @include lg-screen {
    background-position-x: -287px, 727px;
  }
  @include xl-screen {
    background-position-x: -287px, 1087px;
  }
  // background: url(../public/images/bg1.png), url(../public/images/bg1.png);
  background-position-x: -120px;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  position: relative;
  height: 340px;
  .banner_heading {
    @include md-screen {
      left: 42%;
    }
    background-color: #fff;
    position: absolute;
    border-radius: 100%;
    bottom: -30px;
    height: 250px;
    width: 250px;
    left: 15%;
    h1 {
      text-align: center;
      padding-top: 60px;
      font-weight: 600;
      font-size: 28px;
    }
  }
}
// review_title
.review_title {
  position: relative;
  &::before {
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: #e97730;
    bottom: 0px;
    left: 0px;
    content: "";
  }
}
