// nav bar stying
.menu_show {
  @include lg-screen {
    transform: translateX(0%);
  }
  transform: translateX(0%);
}
.menu_hide {
  @include lg-screen {
    transform: translateX(0%);
  }
  transform: translateX(-100%);
}
.active_nav {
  position: relative;
  &::before {
    background-color: #e97730;
    border-radius: 50px;
    position: absolute;
    bottom: -6px;
    height: 4px;
    width: 4px;
    left: 45%;

    content: "";
  }
}
.slider1 {
  &::before {
    @include md-screen {
      background-color: #efefef;
      border-radius: 153%;
      position: absolute;
      bottom: -169px;
      height: 449px;
      right: -281px;
      width: 450px;
      content: "";
    }
  }
  .slick-prev {
    height: 34px !important;
    left: -80px !important;
    z-index: 999999;
    width: 34px;
    &::before {
      content: "" !important;
    }
  }
  .slick-next {
    right: -80px !important;
    z-index: 999999;
    height: 34px;
    width: 34px;
    &::before {
      content: "" !important;
    }
  }
}
.title {
  position: relative;
  z-index: 9;
  &::before {
    background-color: #e97730;
    position: absolute;
    height: 40px;
    width: 40px;
    content: "";
    z-index: -9;
    left: 0;
    top: 2px;
  }
}
.heading {
  position: relative;
  @include sm-screen {
    &::before {
      background-color: #cbcbcb;
      position: absolute;
      content: "";
      height: 2px;
      width: 95%;
      top: 18px;
      left: 0;
    }
  }
}
.product_slider1 {
  .slick-arrow {
    border: 1px solid #cbcbcb;
    background-color: white;
    position: absolute;
    top: -59px;
    &::before {
      content: "" !important;
    }
  }
  .slick-prev {
    @include md-screen {
      left: 93.9%;
    }
    @include lg-screen {
      left: 95.6%;
    }
  }
  .slick-next {
    right: 0;
  }
}
.product_card_section {
  &:hover .product_card {
    transform: translateY(37.5%);
  }
  .product_card {
    transition: all 0.3s ease-in-out;
    transform: translateY(100%);
  }
}
