.items_slider {
  img {
    object-fit: cover;
    height: 400px;
    width: 100%;
  }
}
.nav_slider {
  position: relative;
  img {
    object-fit: contain;
    height: 84px;
    width: 84px;
  }
  .slick-prev {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 34px;
    opacity: 0.6;
    width: 34px;
    top: -20px;
    left: 30px;
    img {
      height: 30px;
      width: 30px;
    }
  }
  .slick-next {
    @include lg-screen {
      right: 40px;
    }
    justify-content: center;
    align-items: center;
    display: flex;
    height: 34px;
    opacity: 0.6;
    width: 34px;
    right: 20px;
    top: 104%;
    img {
      height: 30px;
      width: 30px;
    }
  }
  .slick-prev:before,
  .slick-next:before {
    content: "" !important;
  }
  .slick-slide {
    opacity: 0.66;
  }
  .slick-current {
    opacity: 10;
  }
}
.soical_icon {
  > div {
    background-color: #f2f2f2;
    transition: all 0.3s;
    margin-right: 10px;
    padding: 2px;
    path {
      fill: #707070;
    }
    &:hover {
      background-color: #e97730;
    }
    &:hover path {
      fill: #ffff;
    }
  }
  .tiwwter_icon {
    padding: 6.9px;
  }
}
