.filter_title {
  position: relative;
  &::before {
    background-color: #e97730;
    position: absolute;
    width: 25px;
    content: "";
    height: 2px;
    left: 0px;
    top: 13px;
  }
}
.input-range__track--active {
  background: #707070 !important;
}
.input-range__slider {
  background-color: #e97730 !important;
  border: 1px solid #e97730 !important;
  border-radius: 0px !important;
}
.input-range__label--max {
  .input-range__label-container {
    display: none;
  }
}
.input-range__label-container {
  display: none;
}
.filter_show {
  transform: translateX(0%);
}
.filter_hide {
  @include lg-screen {
    transform: translateX(0%);
  }
  transform: translateX(-100%);
}
